{% extends 'base.html' %}
{% block title %}{{post.title_tag}}{% endblock%}

{% block content %}
<h1>{{post.title}}</h1>
<small>By:{{post.auther}}</small>
{% if user.is_authenticated %}
{% if user.id == post.auther.id %}
        <a href="/theblog/article/edit/{{post.id}}/" class="btn  btn-sm btn-info">Edit</a>
        <a href="/theblog/article/{{post.id}}/remove/" class="btn  btn-sm btn-danger">Delete</a>
{% endif  %}
{% endif %}
<hr>
{% if post.header_image %}

<img src="{{post.header_image.url}}" width="200px" height="200px">

{% endif %}
<p>
    {{post.body|safe}}
</p>
<a class="btn btn-outline-info" href="/theblog/home/">Back</a>
{% if user.is_authenticated %}
<form action="/theblog/like/{{post.pk}}" method="POST">
    {% csrf_token %}
    {%if liked %}
    <button class="btn btn-sm btn-outline-info" style="margin:20px;" type="submit" value="{{post.id}}" name="post_id">UnLike</button>
    {% else %}
    <button class="btn btn-sm btn-outline-info" style="margin:20px;" type="submit" value="{{post.id}}" name="post_id">Like</button>
    {% endif %}
</form>
{% endif  %}
<br><p>{{total_likes}} - Likes</p>
{% endblock  %}