{% extends 'base.html' %}
{% block content %}
{% if category_post %}
<h1>{{cats}}</h1>
<ul>
    {% for post in category_post %}
    <li>
        <a href="/theblog/article/{{post.id}}/">{{post.title}}</a> - {{post.auther}}<br>
        {{post.body|slice:":200"}}............<br>
        <p>{{post.date|date:'M d Y'}}</p>
        {% if user.is_authenticated %}
        {% if user.id == post.auther.id %}
        <a href="/theblog/article/edit/{{post.id}}/" class="btn  btn-sm btn-info">Edit</a>
        <a href="/theblog/article/{{post.id}}/remove/" class="btn  btn-sm btn-danger">Delete</a>
        {% endif  %}
        {% endif  %}
    </li>
    {% endfor %}
 {% else %}
    <h1>Does Not Exit</h1>
    {% endif %}
</ul>
{% endblock %}