{% extends 'base.html' %}

{% block content %}
<h1>Posts</h1>
<ul>
    {% for post in object_list %}
    <li>
        <a href="../article/{{post.id}}/">{{post.title}}</a> - {{post.auther}} - <a href="{% url 'category' post.category|slugify %}">{{post.category}}</a><br>
        {{post.body|slice:":200"}}............<br>
        <p>{{post.date|date:'M d Y'}}</p>
        {% if user.is_authenticated %}
        {% if user.id == post.auther.id %}
        <a href="/theblog/article/edit/{{post.id}}/" class="btn  btn-sm btn-info">Edit</a>
        <a href="/theblog/article/{{post.id}}/remove/" class="btn  btn-sm btn-danger">Delete</a>
        {% endif %}
        {% endif  %}
    </li>
    {% endfor %}
</ul>
{% endblock %}